body {
    background-image: url(../assets/BG.gif);
    background-repeat: no-repeat;
    background-size: cover;
}




.mainBox {
    background: linear-gradient(#000000 50%, #02203C , #0A1F32);
    opacity: 60%;
    filter: drop-shadow(0 0 0.75rem black);
    width: 1679px;
    height: 961px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 54px;
    border-radius: 20px;
    position: relative;
}

.innerWorkings {
    position: absolute;
    top: 46px;
    right: 57px;
    bottom: 47px;
    left: 65px;
    
}

.search-wrapper{
    width: 719px;
    height: 48px;
    display: flex;
}

.searchbar {
    width: 719px;
    height: 48px;
    background-color: FFFFFF;
    
}

.searchbar input {
    flex: 2;
    border: none;
    outline: none;
    
}

.searchbar button {
    flex: 1;
    border: none;
    outline: none;
    background: none;
}