body {
    background-image: url(../assets/fixedbg.gif);
    background-repeat: repeat-y;
    background-size: cover;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
/* font-family: 'Josefin Sans', sans-serif; */


.mainBox {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 32, 60, 0.5), rgba(10, 31, 50, 0.5));
    
    filter: drop-shadow(0 0 0.75rem black);
    width: 1679px;
    height: 961px;
    margin-top: 54px;
    border-radius: 20px;
    position: relative;
}

.innerWorkings {
    position: absolute;
    top: 46px;
    right: 57px;
    bottom: 47px;
    left: 65px;
    
}

.top-bar {
    margin-bottom: 22px;
}

.search-wrapper {
    margin-left: 13px;
    display: flex;
    position: relative;
    background-color: rgba(253, 253, 253, 0.2);
    border-radius: 25px;
}

.search {
    background-color: transparent;
}

.searchbar {
    display: flex;
}

.searchbar input {
    
    
    border: none;
    outline: none;
    width: 719px;
    height: 48px;
    
    
    
}

.search::placeholder {
    color: white;
}

.searchbar button {
    border: none;
    outline: none;
    background: none;
    z-index: 1;
    
    padding-left: 24px;
}

.favBtn {
    background-color: #38598B;
    padding: 4px;
    border-radius: 50px;

}

.favBtnDiv {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.card{
    border-radius: 25px;
}

.card-body {
    background: linear-gradient(#001446, #384462 );
    border-radius: 25px;
}

.vertical-line-container {

    height: 57px;
    font-size: 57px;
    font-weight: 100;
}

.CW {
    margin-top: 20px;
    font-size: 64px;
    font-weight: 700;
    color: white;
}

.tempCurrent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.city{
    margin-top: 10px;
    font-size: 40px;
}

.Temp {
    font-size: 150px;
}

.Far {
    font-size: 68px;
    margin-right: 23px;
    
}

.move-down {
    padding-top: 20px;
}

.Cel {
    margin-left: 20px;
    font-size: 50px;
    padding-top: 30px;
    color: #98A0B1;
}

.weatherCond {
    font-size: 48px;
}

.spacing {
    
}

.line-up {
    display: flex;
}

.spr{
    margin-left: 15px;
}

.font {
    font-size: 32px;
}